---
layout: default
---

<div class="container index-section" id="problem-section">
  <div class="row dark-row-gradient">
    <div class="col">
      <div class="mt-4">You understand that creating</div>
      <div class="im-blue innovation">INNOVATION</div>
      <div style="padding-left: 20%;">is an absolute <span style="text-decoration:underline;">necessity</span>...</div>

      {% include separator.html color="white" %}

      <div class="text-right" style="position: relative;">
        <img src="/img/single-arrow.png" class="up-arrow" />
        <div style="padding-right: 10%;">It's necessary for</div>
        <span class="growth-leadership-sustainability">
          <div><span class="im-blue">GROWTH</span>.</div>
          <div><span class="im-blue">LEADERSHIP</span>.</div>
          <div><span class="im-blue">SUSTAINABILITY</span>.</div>
        </span>
      </div>

      {% include separator.html color="white" %}

      <img src="/img/arrows.png" style="width:80%;"/>
      <div class="im-blue mt-2">(BUT WHERE DO YOU START?)</div>

      {% include separator.html color="white" %}

      <div>YOU WANT TO</div>
      <div class="blaze-a-trail">BLAZE A TRAIL</div>
      <div>THAT IS</div>
      <div class="im-blue smarter">SMARTER</div>
      <div class="im-red less-risky">(LESS RISKY)</div>

      {% include separator.html color="white" %}

      <div class="but-is-scary">BUT</div>
      <div class="im-blue innovation">INNOVATION</div>
      <div class="but-is-scary">IS SCARY.</div>


      <div class="no-rules-box">
        <div>THERE ARE NO RULES.</div>
        <div class="im-gray">NO SCRIPTS</div>
        <div>NO TEMPLATES TO FOLLOW.</div>
        <div class="im-gray">NO COOKIE-CUTTER MOLDS.</div>
        <div class="scissor-outer">
          <img id="scissor" src="/img/scissors.png" />
          <hr />
        </div>
        <div class="im-blue">YOUR SITUATION IS UNIQUE.</div>
        <div class="im-blue">YOU DESERVE UNIQUE SOLUTIONS.</div>
      </div>

      {% include separator.html color="white" %}

      <div>WHAT CAN YOU DO?</div>
      <div>WELL...</div>
      <div class="im-blue anything">ANYTHING.</div>

      {% include separator.html color="white" %}

      <div>INNOVATION ISN'T FOUND</div>
      <div>ON THE WELL-WORN PATH.</div>
      <div class="mt-2">IT'S SOMETHING YOU...</div>
      <div class="im-blue path-blue">CREATE. DISCOVER.</div>
      <div class="im-blue path-blue">NURTURE. EXPLORE.</div>
      <div class="mt-2">WITH</div>
      <div class="im-blue path-blue">RIGOR. PURPOSE.</div>
      <div>AND <span class="im-blue path-blue">CONVICTION.</span></div>
      <div class="mt-2">SOMETIMES TO <span class="im-blue path-blue">IMPROVE</span></div>
      <div>YOU NEED TO <span class="im-blue path-blue">IMPROV.</span></div>

      {% include separator.html color="white" %}

      <div>HOW YOU NAVIGATE THIS</div>
      <div>NEW UNKNOWN TERRAIN IS</div>
      <div class="im-blue critical">CRITICAL.</div>
      <div>YOU DON'T GET DO-OVERS.</div>
      <div>NO CUTTING CORNERS</div>
      <div>NO SHORTCUTS.</div>

    </div>
  </div>
</div>

<div class="container parallax-idea">
</div>

<div class="container index-section" id="solution-section">
  <div class="row light-row-gradient">
    <div class="col">
      <div>YOU NEED TO WORK WITH</div>
      <div>SOMEONE YOU CAN</div>
      <div class="im-blue trust">TRUST.</div>

      {% include separator.html color="gray" %}

      <div>THAT'S WHERE <img src="/img/im-blue.png" style="max-height: 2.5em;" /> COMES IN.</div>
      <div>WE ARE HERE FOR YOU.</div>
      <div>AS YOUR VALUED RESOURCE.</div>
      <div>AS YOUR PROVEN PARNTER.</div>
      <div>FOR GROWTH. INNOVATION.  SUCCESS.</div>

      {% include separator.html color="gray" %}

      <div class="im-blue how-do-we-do-it">HOW DO WE DO IT?</div>
      <span class="im-gray insights-block">
        <div>WE UNCOVER EXCEPTIONAL <span class="im-black">INSIGHTS</span> THAT</div>
        <div>LEAD TO REMARKABLE <span class="im-black">OPPORTUNITIES</span>.</div>
        <div>WE SCAN, WE TALK, WE INTERVIEW,</div>
        <div>WE POLL AND WE VALIDATE DIFFERENT</div>
        <div>PATHS TOWARD <span class="im-black">INNOVATION</span>.</div>

        <div class="mt-4">WE HELP CREATE YOUR UNIQUE</div>
        <div>STRATEGY AND <span class="im-black">STAY ON TOP OF IT</span>,</div>
        <div>COURSE-CORRECTING AS NECESSARY.</div>
        <div>WE TRAIN YOUR PEOPLE AND YOUR PARTNERS</div>
        <div>TO IMPLEMENT AND <span class="im-black">MOVE FORWARD</span>.</div>
      </span>

      {% include separator.html color="gray" %}


      <div class="im-gray mb-2 strategy">OUR STRATEGIC RECIPES LEAD TO BETTER...</div>
      <div class="style-list">
      <ul class="text-left">
      <li>marketing campaigns</li>
      <li>product development</li>
      <li>demand generation</li>
      <li>insights</li>
      <li>Customer Intimacy</li>
      <li>brands</li>
      </ul>
      </div>
      {% include separator.html color="gray" %}


      <div class="im-gray mb-2 strategy">AND BUILDING A SOLID STRATEGY INCLUDES:</div>
      <div class="style-list">
      <ul class="text-left">
        <li>IDEATION</li>
        <li>EXPERT ANALYSIS</li>
        <li>COLLABORATION W/ AGENCIES</li>
        <li>ILLUMINATION EVENTS</li>
        <li>QUANT STUDIES</li>
        <li>FOCUS GROUPS</li>
      </ul>
      </div>
      {% include separator.html color="gray" %}


      <div>WE'RE ON THIS</div>
      <div>JOURNEY OF DISCOVERY</div>
      <div class="im-blue with-you">WITH YOU</div>
      <div>(EVERY STEP OF THE WAY.)</div>

      <img src="/img/gray-dotted-line.png" class="gray-dotted-line" />

      <div>AND YOU WORK WITH</div>
      <div>OUR SENIOR TEAM.</div>
      <div class="im-blue always">ALWAYS</div>

      <img src="/img/gray-dotted-line.png" class="gray-dotted-line" />

      <div>WE DON'T WORK</div>
      <div>WITH TEMPLATES</div>
      <div>OR SCRIPTS.</div>

      <img src="/img/gray-dotted-line.png" class="gray-dotted-line" />

      <div>WE INVENT, DISCOVER AND</div>
      <div>CREATE ONE-OFF SOLUTIONS</div>
      <div>THAT ARE AS UNIQUE AND</div>
      <div>EXCEPTIONAL AS</div>
      <div>YOUR NEEDS.</div>

      <img src="/img/gray-dotted-line.png" class="gray-dotted-line" />

      <div>AND</div>
      <div>WE WILL</div>
      <div class="im-blue delight-you">DELIGHT YOU.</div>

      <img src="/img/gray-dotted-line.png" class="gray-dotted-line" />

      <div>AFTER ALL, INNOVATION IS ABOUT</div>
      <div>APPRECIATING A NEW WAY</div>
      <div>OF THINKING ABOUT</div>
      <div>WHAT'S POSSIBLE.</div>

      <img src="/img/gray-dotted-line.png" class="gray-dotted-line" />

      <div>AND WE WILL</div>
      <div>GET YOU THERE.</div>

      <img src="/img/gray-dotted-line.png" class="gray-dotted-line" />

      <div>
        <img src="/img/im-blue.png" style="max-width: 80%;" />
      </div>

      <div class="mt-4 mb-4">HERE FOR YOU.</div>

      <div>
        <a href="/portfolio" class="btn btn-primary btn-btm">BROWSE OUR PORTFOLIO</a>
        <a href="/contact" class="btn btn-primary btn-btm">CONTACT US</a>
      </div>

    </div>
  </div>
</div>
